# Agrupar datos

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r'data_celular.csv',
                   header=0,
                   index_col=0,
                   names=['indice', 'fecha','duracion','item','mes','red','tipo_red'],
                   parse_dates=['fecha'])
data.head()

/tmp/ipykernel_70169/516284763.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data = pd.read_csv(r'data_celular.csv',

                     fecha  duracion  item      mes       red tipo_red
indice
0      2014-10-15 06:58:00    34.429  data  2014-11      data     data
1      2014-10-15 06:58:00    13.000  call  2014-11  Vodafone   mobile
2      2014-10-15 14:46:00    23.000  call  2014-11    Meteor   mobile
3      2014-10-15 14:48:00     4.000  call  2014-11     Tesco   mobile
4      2014-10-15 17:27:00     4.000  call  2014-11     Tesco   mobile

### Podemos obtener información básica seleccionando columnas y aplicando alguna de las operaciones que ya conocemos.

In [3]:
print('Cuántas filas tiene el DataFrame: ')
print(data['item'].count())

Cuántas filas tiene el DataFrame:
830

In [4]:
print('El tiempo total (en segundos) registrado en llamadas es:')

print(data['duracion'][data['item'] == 'call'].sum())

El tiempo total (en segundos) registrado en llamadas es:
92321.0

In [5]:
print('Con cuántas redes telefónicas se contactó en el período de 2014/11 al 2015/03: ')
print(data['red'].nunique())

Con cuántas redes telefónicas se contactó en el período de 2014/11 al 2015/03:
9

## <font color=#003d5c> _.groupby()_ </font>
### Este método nos permite agrupar nuestros datos para obtener información segregada.

In [ ]:
data.groupby('mes')

In [ ]:
data.groupby('mes').groups.values()

In [ ]:
data.groupby('mes').sum()

In [ ]:
print('En el siguiente cuadro vemos la cantidad de entradas por mes \n segregadas en llamadas, sms y datos: \n \n')

print(data.groupby(['mes','item'])["duracion"].count())

In [ ]:
print('La duración total de las llamadas realizadas a cada una de las operadoras es: ')

data[data['item'] == 'call'].groupby('red')['duracion'].sum()

In [ ]:
print('¿Cuántas llamadas, sms y datos son enviados a cada operadora por mes? : ')

data.groupby(['mes', 'tipo_red'])['fecha'].count()